<div class = "home-container">
<div class ="home-center">
  <div class = "home-center-header">
  Trips
  </div>



  <div class = "post-list">

  <hr>
  <% @trips.each do |trip| %>
    <%if trip.gross == nil%>
    <div>
    <p> Date : <%= trip.s_date %> </p>
    <p> Capital : <%= trip.capital%> </p>
    <p> Chicks :<%= trip.s_chick%> </p>
    <p> Feed :<%= trip.feed%> </p>
    <%= link_to 'End', edit_trip_path(trip.id)%>
    <hr>
   </div>
   <%else%>
   <div>
    <p> Period : <%= trip.s_date %> </p>
    <p> Capital : <%= trip.capital%> </p>
    <p> Chicks :<%= trip.s_chick%> </p>
    <p> Gross :<%= trip.gross%> </p>
    
    <hr>
   </div>
   <%end%>
 <%end%>
 </div>
</div>
</div>




</div>